.App {
  text-align: center;
  min-height: 100vh;
  background-color: #eef;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 20px;
  display: inline-block;
}

.header-home-text {
  display: inline-block;
}

.navbar {
  background-color: #226;
}

.nav-link {
  margin: 0 20px;
}

.search-bar {
  margin: 0 auto;
  width: 90%;
}

.search-label {
  background-color: #f8f4ff;
}

.rep-card {
  margin: 10px;
  padding: 16px;
  background-color: #f0e8ff;
  border: 2px solid #226;
  border-radius: 10px;
  cursor: pointer;
}

.card {
  flex-direction: row;
  margin: 15px auto;
}

.rep-card-img {
  width: 25%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

.blue-button {
  background-color: #55b;
}

.card-body {
  margin-left: 20px;
  text-align: left;
}