.App {
  text-align: center;
  min-height: 100vh;
  background-color: #eef;
}

.navbar {
  background-color: #226;
}

.nav-home {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  margin: 0 20px;
}